/* FULL PAGE CENTER */
.auth-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #f1f1f1, #dcdcdc);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.auth-card {
  background: #fff;
  width: 360px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* TITLE */
.auth-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 20px;
}

/* INPUTS */
.auth-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}


/* BUTTON */
.auth-btn {
  width: 100%;
  padding: 10px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* FOOTER TEXT */
.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-link {
  color: #0066ff;
  cursor: pointer;
  margin-left: 5px;
}

.auth-link:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 400px) {
  .auth-card {
    width: 90%;
  }
}
