.channel {
  padding: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}


button {
  background: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

