.sidebar {
  width: 220px;
  height: calc(100vh - 60px);
  background: white;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 60px;
  left: 0;
  padding: 10px;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar-item:hover {
  background: #f2f2f2;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 180px;
    z-index: 100;
  }
}
